.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.header a {
  color: white;
  padding: 10px;
  text-decoration: underline;
}

.create-container, .view-employees {
  background-color: #f2f2f2;
  height: 80vh;
  padding: 2rem;
  overflow: auto;
}

table {
  width: 100%;
  padding: 1rem;
}

tr {
  border: 1px solid #aeaeae;
}

.no-data-text {
  position: absolute;
  left: 40%;
  bottom: 50%;
  font-weight: bold;
}


.create-container form{
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.footer {
  height: 10vh;
  background: #aeaeae;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}